!!!
%html
  %head
    %title RailsCamp
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10-offset3
        .hero-unit.text-center
          %h1
            RailsCamp
          %p
            Witamy w RailsCamp!
    .row-fluid
      .span4
      .span4
        = yield